In [4]:
import requests
from pprint import pprint
import json
import pandas as pd
import matplotlib.pyplot as plt

symbols = ["ADT", "AMZN", "AUDVF", "BUD", "PEP", "BKC", "CL",
          "KHC", "GOOGL", "DMLRY", "MSFT", "NCLH", "PG", "K",
           "SKX", "S", "GHC", "TMUS", "INTU", "VZ"]
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"ADT"}
response = requests.request("GET", url, headers=headers, params=querystring)

responseadt=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"AMZN"}
response = requests.request("GET", url, headers=headers, params=querystring)

responseamzn=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"BUD"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsebud=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"PEP"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsepep=response.json()   
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"BX"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsebx=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"BKC"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsebkc=response.json()
url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"CL"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsecl=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"KHC"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsekhc=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"GOOGL"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsegoogl=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"DMLRY"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsedmlry=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"MSFT"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsemsft=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"MITJF"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsemitjf=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"NCLH"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsenclh=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"PG"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsepg=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"K"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsek=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"SKX"}
response = requests.request("GET", url, headers=headers, params=querystring)

responseskx=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"S"}
response = requests.request("GET", url, headers=headers, params=querystring)

responses=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"GHC"}
response = requests.request("GET", url, headers=headers, params=querystring)

responseghc=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"TMUS"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsetmus=response.json()

url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"INTU"}
response = requests.request("GET", url, headers=headers, params=querystring)

responseintu=response.json()


url = "https://apidojo-yahoo-finance-v1.p.rapidapi.com/stock/v2/get-historical-data"

headers = {
'x-rapidapi-host': "apidojo-yahoo-finance-v1.p.rapidapi.com",
'x-rapidapi-key': "ba59e739abmsh3874bdb49193845p1a35c9jsnf50bec78fe8a"}
querystring = {"frequency":"1d","filter":"history","period1":"1548633600","period2":"1549670400","symbol":"VZ"}
response = requests.request("GET", url, headers=headers, params=querystring)

responsevz=response.json()

In [5]:
nrbd=responsebud['prices']
nradt=responseadt['prices']
nramzn=responseamzn['prices']
nrpep=responsepep['prices']
nrbkc=responsebkc['prices']
nrcl=responsecl['prices']
nrkhc=responsekhc['prices']
nrgoogl=responsegoogl['prices']
nrdmlry=responsedmlry['prices']
nrmsft=responsemsft['prices']
nrnclh=responsenclh['prices']
nrpg=responsepg['prices']
nrk=responsek['prices']
nrskx=responseskx['prices']
nrs=responses['prices']
nghc=responseghc['prices']
ntmus=responsetmus['prices']
nintu=responseintu['prices']
nvz=responsevz['prices']

In [6]:
buddf=pd.DataFrame(nrbd)

buddf.rename(columns= {"date":"epoch timestamp"},inplace=True)
buddf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
buddf.insert(0,"Stock Code",["Bud","Bud","Bud","Bud","Bud","Bud","Bud","Bud","Bud","Bud"],True)
buddf.head(10)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,Bud,2/8/2019,1549636200,75.580002,76.169998,75.430000,76.150002,1480900,74.345161
1,Bud,2/7/2019,1549549800,76.870003,77.220001,76.480003,76.900002,1479200,75.077393
2,Bud,2/6/2019,1549463400,78.889999,79.000000,78.279999,78.300003,968600,76.444206
3,Bud,2/5/2019,1549377000,78.139999,79.209999,78.000000,78.860001,1089800,76.990936
4,Bud,2/4/2019,1549290600,76.889999,77.500000,76.699997,77.410004,812400,75.575302
5,Bud,2/1/2019,1549031400,76.500000,77.389999,76.360001,76.839996,1400800,75.018806
6,Bud,1/31/2019,1548945000,75.489998,76.830002,75.269997,76.440002,1485300,74.628296
7,Bud,1/30/2019,1548858600,74.320000,75.209999,74.239998,74.940002,1042400,73.163849
8,Bud,1/29/2019,1548772200,73.779999,74.110001,73.599998,73.989998,1360500,72.236351
9,Bud,1/28/2019,1548685800,73.300003,73.769997,72.870003,73.680000,1500000,71.933708

In [7]:
adtdf=pd.DataFrame(nradt)
adtdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
adtdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
adtdf.insert(0,"Stock Code",["ADT","ADT","ADT","ADT","ADT","ADT","ADT","ADT","ADT","ADT"],True)
adtdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,ADT,2/8/2019,1549636200,7.56,7.670,7.485,7.65,1007100,6.916444
1,ADT,2/7/2019,1549549800,7.60,7.720,7.515,7.59,1344000,6.862197
2,ADT,2/6/2019,1549463400,7.56,7.680,7.520,7.64,1531700,6.907403
3,ADT,2/5/2019,1549377000,7.63,7.790,7.490,7.57,1878400,6.844115
4,ADT,2/4/2019,1549290600,7.32,7.610,7.284,7.58,2580700,6.853156
5,ADT,2/1/2019,1549031400,7.33,7.380,7.160,7.31,1456900,6.609046
6,ADT,1/31/2019,1548945000,7.15,7.320,7.120,7.22,945700,6.527676
7,ADT,1/30/2019,1548858600,7.20,7.220,7.040,7.13,1202700,6.446306
8,ADT,1/29/2019,1548772200,7.08,7.190,7.015,7.12,951000,6.437265
9,ADT,1/28/2019,1548685800,7.17,7.172,6.970,7.03,1816300,6.355896

In [8]:
amzndf=pd.DataFrame(nramzn)
amzndf.rename(columns= {"date":"epoch timestamp"},inplace=True)
amzndf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
amzndf.insert(0,"Stock Code",["AMZN","AMZN","AMZN","AMZN","AMZN","AMZN","AMZN","AMZN","AMZN","AMZN"],True)
amzndf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,AMZN,2/8/2019,1549636200,1586.000000,1588.589966,1566.760010,1588.219971,5657500,1588.219971
1,AMZN,2/7/2019,1549549800,1625.000000,1625.540039,1592.910034,1614.369995,4626600,1614.369995
2,AMZN,2/6/2019,1549463400,1670.750000,1672.260010,1633.339966,1640.260010,3939900,1640.260010
3,AMZN,2/5/2019,1549377000,1643.339966,1665.260010,1642.500000,1658.810059,4453100,1658.810059
4,AMZN,2/4/2019,1549290600,1623.000000,1649.630005,1613.500000,1633.310059,4929100,1633.310059
5,AMZN,2/1/2019,1549031400,1638.880005,1673.060059,1622.010010,1626.229980,11506200,1626.229980
6,AMZN,1/31/2019,1548945000,1692.849976,1736.410034,1679.079956,1718.729980,10910300,1718.729980
7,AMZN,1/30/2019,1548858600,1623.000000,1676.949951,1619.680054,1670.430054,5783800,1670.430054
8,AMZN,1/29/2019,1548772200,1631.270020,1632.380005,1590.719971,1593.880005,4632800,1593.880005
9,AMZN,1/28/2019,1548685800,1643.589966,1645.000000,1614.089966,1637.890015,4837700,1637.890015

In [9]:
pepdf=pd.DataFrame(nrpep)
pepdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
pepdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
pepdf.insert(0,"Stock Code",["PEP","PEP","PEP","PEP","PEP","PEP","PEP","PEP","PEP","PEP"],True)
pepdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,PEP,2/8/2019,1549636200,112.930000,113.040001,111.930000,113.019997,3868300,109.763374
1,PEP,2/7/2019,1549549800,112.820000,113.160004,112.160004,113.089996,4227700,109.831367
2,PEP,2/6/2019,1549463400,113.410004,113.580002,112.300003,113.050003,4209400,109.792519
3,PEP,2/5/2019,1549377000,113.029999,113.540001,112.489998,112.900002,4593400,109.646835
4,PEP,2/4/2019,1549290600,112.209999,113.400002,111.849998,113.089996,3665000,109.831367
5,PEP,2/1/2019,1549031400,112.949997,113.279999,111.449997,112.190002,5010500,108.957298
6,PEP,1/31/2019,1548945000,110.970001,112.900002,110.209999,112.669998,6183400,109.423470
7,PEP,1/30/2019,1548858600,108.940002,111.239998,108.540001,110.820000,5023800,107.626770
8,PEP,1/29/2019,1548772200,108.930000,109.620003,108.510002,109.000000,4301500,105.859215
9,PEP,1/28/2019,1548685800,108.959999,109.599998,108.000000,108.820000,4055900,105.684402

In [10]:
cldf=pd.DataFrame(nrcl)
cldf.rename(columns= {"date":"epoch timestamp"},inplace=True)
cldf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
cldf.insert(0,"Stock Code",["CL","CL","CL","CL","CL","CL","CL","CL","CL","CL"],True)
cldf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,CL,2/8/2019,1549636200,64.919998,65.690002,64.750000,65.690002,3040100,64.495461
1,CL,2/7/2019,1549549800,64.839996,65.379997,64.550003,65.050003,3145300,63.867092
2,CL,2/6/2019,1549463400,64.519997,65.500000,64.500000,65.330002,3474600,64.142006
3,CL,2/5/2019,1549377000,65.269997,65.550003,64.639999,64.739998,4255300,63.562725
4,CL,2/4/2019,1549290600,65.290001,65.430000,64.610001,65.190002,3612600,64.004555
5,CL,2/1/2019,1549031400,64.900002,65.250000,64.199997,65.050003,5314500,63.867092
6,CL,1/31/2019,1548945000,63.759998,64.849998,63.439999,64.680000,6182900,63.503822
7,CL,1/30/2019,1548858600,63.660000,64.339996,63.459999,63.950001,6663900,62.787102
8,CL,1/29/2019,1548772200,62.700001,63.799999,62.700001,63.689999,4593100,62.531822
9,CL,1/28/2019,1548685800,61.709999,62.840000,61.599998,62.740002,5768200,61.599102

In [11]:
khcdf=pd.DataFrame(nrkhc)
khcdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
khcdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
khcdf.insert(0,"Stock Code",["KHC","KHC","KHC","KHC","KHC","KHC","KHC","KHC","KHC","KHC"],True)
khcdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,KHC,2/8/2019,1549636200,47.200001,47.480000,46.639999,47.459999,5278600,44.962521
1,KHC,2/7/2019,1549549800,47.070000,47.693001,46.820000,47.230000,9556900,44.744629
2,KHC,2/6/2019,1549463400,47.950001,48.070000,47.485001,47.689999,5012400,45.180416
3,KHC,2/5/2019,1549377000,47.619999,48.160000,47.459999,48.139999,6145700,45.606743
4,KHC,2/4/2019,1549290600,47.820000,47.980000,47.389999,47.730000,6251500,45.218315
5,KHC,2/1/2019,1549031400,48.139999,48.240002,47.525002,47.759998,4740200,45.246735
6,KHC,1/31/2019,1548945000,46.970001,48.099998,46.939999,48.060001,8319600,45.530952
7,KHC,1/30/2019,1548858600,47.000000,47.139999,46.520000,46.750000,5414300,44.289886
8,KHC,1/29/2019,1548772200,47.040001,47.259998,46.410000,46.880001,4440500,44.413048
9,KHC,1/28/2019,1548685800,46.779999,47.110001,46.060001,46.900002,6545800,44.431992

In [12]:
googldf=pd.DataFrame(nrgoogl)
googldf.rename(columns= {"date":"epoch timestamp"},inplace=True)
googldf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
googldf.insert(0,"Stock Code",["GOOGL","GOOGL","GOOGL","GOOGL","GOOGL","GOOGL","GOOGL","GOOGL","GOOGL","GOOGL"],True)
googldf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,GOOGL,2/8/2019,1549636200,1094.880005,1105.099976,1094.239990,1102.380005,1088300,1102.380005
1,GOOGL,2/7/2019,1549549800,1111.819946,1111.989990,1093.589966,1105.910034,1914900,1105.910034
2,GOOGL,2/6/2019,1549463400,1149.270020,1154.000000,1118.359985,1122.890015,2412800,1122.890015
3,GOOGL,2/5/2019,1549377000,1129.630005,1152.770020,1123.599976,1151.869995,4114800,1151.869995
4,GOOGL,2/4/2019,1549290600,1119.010010,1142.339966,1117.510010,1141.420044,3920400,1141.420044
5,GOOGL,2/1/2019,1549031400,1122.290039,1134.400024,1114.250000,1118.619995,1655800,1118.619995
6,GOOGL,1/31/2019,1548945000,1112.239990,1127.670044,1105.250000,1125.890015,2011600,1125.890015
7,GOOGL,1/30/2019,1548858600,1077.359985,1099.520020,1076.640015,1097.989990,1472600,1097.989990
8,GOOGL,1/29/2019,1548772200,1081.040039,1084.729980,1066.020020,1070.060059,985200,1070.060059
9,GOOGL,1/28/2019,1548685800,1090.069946,1093.369995,1074.609985,1079.859985,1466700,1079.859985

In [13]:
dmlrydf=pd.DataFrame(nrdmlry)
dmlrydf.rename(columns= {"date":"epoch timestamp"},inplace=True)
dmlrydf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
dmlrydf.insert(0,"Stock Code",["DMLRY","DMLRY","DMLRY","DMLRY","DMLRY","DMLRY","DMLRY","DMLRY","DMLRY","DMLRY"],True)
dmlrydf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,DMLRY,2/8/2019,1549636200,13.77,13.78,13.53,13.67,113600,12.787409
1,DMLRY,2/7/2019,1549549800,14.17,14.17,13.90,13.97,201000,13.068040
2,DMLRY,2/6/2019,1549463400,14.65,14.79,14.49,14.69,202400,13.741553
3,DMLRY,2/5/2019,1549377000,14.92,15.11,14.89,15.01,192100,14.040893
4,DMLRY,2/4/2019,1549290600,14.87,14.93,14.82,14.93,201200,13.966058
5,DMLRY,2/1/2019,1549031400,15.07,15.24,15.02,15.14,104600,14.162499
6,DMLRY,1/31/2019,1548945000,14.64,14.90,14.59,14.78,291000,13.825742
7,DMLRY,1/30/2019,1548858600,14.69,14.97,14.68,14.86,127000,13.900577
8,DMLRY,1/29/2019,1548772200,14.93,14.93,14.76,14.81,179000,13.853806
9,DMLRY,1/28/2019,1548685800,14.81,14.96,14.81,14.89,557100,13.928640

In [14]:
msftdf=pd.DataFrame(nrmsft)
msftdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
msftdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
msftdf.insert(0,"Stock Code",["MSFT","MSFT","MSFT","MSFT","MSFT","MSFT","MSFT","MSFT","MSFT","MSFT"],True)
msftdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,MSFT,2/8/2019,1549636200,104.389999,105.779999,104.260002,105.669998,21461100,104.130325
1,MSFT,2/7/2019,1549549800,105.190002,105.589996,104.290001,105.269997,29760700,103.736145
2,MSFT,2/6/2019,1549463400,107.000000,107.000000,105.529999,106.029999,20609800,104.485077
3,MSFT,2/5/2019,1549377000,106.059998,107.269997,105.959999,107.220001,27325400,105.657745
4,MSFT,2/4/2019,1549290600,102.870003,105.800003,102.769997,105.739998,31315100,104.199295
5,MSFT,2/1/2019,1549031400,103.779999,104.099998,102.349998,102.779999,35535700,101.282433
6,MSFT,1/31/2019,1548945000,103.800003,105.220001,103.180000,104.430000,55636400,102.908394
7,MSFT,1/30/2019,1548858600,104.620003,106.379997,104.330002,106.379997,49471900,104.829979
8,MSFT,1/29/2019,1548772200,104.879997,104.970001,102.169998,102.940002,31490500,101.440102
9,MSFT,1/28/2019,1548685800,106.260002,106.480003,104.660004,105.080002,29476700,103.548927

In [15]:
nclhdf=pd.DataFrame(nrnclh)
nclhdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
nclhdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
nclhdf.insert(0,"Stock Code",["NCLH","NCLH","NCLH","NCLH","NCLH","NCLH","NCLH","NCLH","NCLH","NCLH"],True)
nclhdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,NCLH,2/8/2019,1549636200,50.840000,51.450001,50.840000,51.310001,1324200,51.310001
1,NCLH,2/7/2019,1549549800,52.090000,52.099998,50.660000,51.349998,1766000,51.349998
2,NCLH,2/6/2019,1549463400,53.040001,53.180000,52.189999,52.619999,1911000,52.619999
3,NCLH,2/5/2019,1549377000,52.200001,52.459999,51.549999,51.810001,1631600,51.810001
4,NCLH,2/4/2019,1549290600,51.330002,52.110001,51.330002,52.080002,2140600,52.080002
5,NCLH,2/1/2019,1549031400,51.400002,51.970001,51.290001,51.470001,2196800,51.470001
6,NCLH,1/31/2019,1548945000,50.570000,51.799999,50.430000,51.430000,3760900,51.430000
7,NCLH,1/30/2019,1548858600,49.730000,51.160000,49.320000,50.849998,6069300,50.849998
8,NCLH,1/29/2019,1548772200,48.439999,48.930000,48.049999,48.720001,3060800,48.720001
9,NCLH,1/28/2019,1548685800,47.290001,48.590000,47.250000,48.369999,3226700,48.369999

In [16]:
pgdf=pd.DataFrame(nrpg)
pgdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
pgdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
pgdf.insert(0,"Stock Code",["PG","PG","PG","PG","PG","PG","PG","PG","PG","PG"],True)
pgdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,PG,2/8/2019,1549636200,97.010002,97.720001,96.699997,97.709999,7483200,95.788879
1,PG,2/7/2019,1549549800,97.519997,97.599998,96.339996,97.139999,8732500,95.230080
2,PG,2/6/2019,1549463400,97.250000,98.320000,97.120003,97.919998,8693900,95.994736
3,PG,2/5/2019,1549377000,97.989998,98.019997,97.209999,97.440002,9772300,95.524185
4,PG,2/4/2019,1549290600,97.209999,98.220001,96.720001,98.029999,11887500,96.102577
5,PG,2/1/2019,1549031400,96.349998,97.610001,95.989998,97.470001,12720800,95.553589
6,PG,1/31/2019,1548945000,94.430000,96.809998,94.080002,96.470001,16044400,94.573250
7,PG,1/30/2019,1548858600,93.610001,94.660004,93.570000,94.519997,7750200,92.661591
8,PG,1/29/2019,1548772200,93.790001,94.120003,93.099998,93.540001,9769800,91.700859
9,PG,1/28/2019,1548685800,93.320000,93.970001,92.970001,93.519997,9765600,91.681244

In [17]:
kdf=pd.DataFrame(nrk)
kdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
kdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
kdf.insert(0,"Stock Code",["K","K","K","K","K","K","K","K","K","K"],True)
kdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,K,2/8/2019,1549636200,55.320000,55.900002,54.820000,55.360001,5316900,53.267544
1,K,2/7/2019,1549549800,56.560001,57.869999,55.520000,55.840000,8770600,53.729401
2,K,2/6/2019,1549463400,59.139999,59.490002,58.689999,59.160000,2682200,56.923908
3,K,2/5/2019,1549377000,58.820000,59.310001,58.750000,59.139999,2339100,56.904667
4,K,2/4/2019,1549290600,58.820000,59.110001,58.430000,58.919998,2226700,56.692982
5,K,2/1/2019,1549031400,59.209999,59.410000,58.099998,58.700001,2316400,56.481297
6,K,1/31/2019,1548945000,57.849998,59.060001,57.830002,59.009998,3060500,56.779579
7,K,1/30/2019,1548858600,58.119999,58.689999,57.759998,57.830002,3763200,55.644180
8,K,1/29/2019,1548772200,57.980000,58.360001,57.860001,58.230000,1758700,56.029060
9,K,1/28/2019,1548685800,57.750000,58.139999,57.279999,58.119999,1679400,55.923218

In [18]:
skxdf=pd.DataFrame(nrskx)
skxdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
skxdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
skxdf.insert(0,"Stock Code",["SKX","SKX","SKX","SKX","SKX","SKX","SKX","SKX","SKX","SKX"],True)
skxdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,SKX,2/8/2019,1549636200,32.599998,32.950001,31.340000,31.910000,14443000,31.910000
1,SKX,2/7/2019,1549549800,27.500000,28.070000,27.100000,27.700001,5766700,27.700001
2,SKX,2/6/2019,1549463400,27.760000,27.950001,27.150000,27.670000,2638000,27.670000
3,SKX,2/5/2019,1549377000,27.270000,27.629999,27.040001,27.580000,2314900,27.580000
4,SKX,2/4/2019,1549290600,26.440001,27.309999,26.400000,27.200001,1791300,27.200001
5,SKX,2/1/2019,1549031400,27.400000,27.500000,26.080000,26.889999,4076700,26.889999
6,SKX,1/31/2019,1548945000,26.990000,30.559999,25.680000,27.170000,6885700,27.170000
7,SKX,1/30/2019,1548858600,26.750000,27.309999,26.559999,27.290001,1531900,27.290001
8,SKX,1/29/2019,1548772200,26.950001,27.049999,26.480000,26.610001,1479800,26.610001
9,SKX,1/28/2019,1548685800,26.379999,27.129999,26.340000,26.910000,2471100,26.910000

In [19]:
sdf=pd.DataFrame(nrs)
sdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
sdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
sdf.insert(0,"Stock Code",["S","S","S","S","S","S","S","S","S","S"],True)
sdf

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,S,2/8/2019,1549636200,5.87,5.93,5.76,5.90,16713600,5.90
1,S,2/7/2019,1549549800,5.88,5.94,5.76,5.90,26282800,5.90
2,S,2/6/2019,1549463400,5.87,5.93,5.79,5.84,15559700,5.84
3,S,2/5/2019,1549377000,6.23,6.25,5.83,5.87,24559000,5.87
4,S,2/4/2019,1549290600,6.22,6.26,6.19,6.24,8190200,6.24
5,S,2/1/2019,1549031400,6.17,6.27,6.16,6.22,9742900,6.22
6,S,1/31/2019,1548945000,6.00,6.32,6.00,6.24,20190100,6.24
7,S,1/30/2019,1548858600,6.04,6.11,5.97,6.04,6581100,6.04
8,S,1/29/2019,1548772200,6.03,6.07,5.97,6.03,11493000,6.03
9,S,1/28/2019,1548685800,6.11,6.18,6.01,6.04,12560000,6.04

In [20]:
ghcdf=pd.DataFrame(nghc)

del ghcdf["amount"]
del ghcdf["type"]
del ghcdf["data"]
ghcdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
ghcdf=ghcdf.dropna(how="any")
ghcdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
ghcdf.insert(0,"Stock Code",["GHC","GHC","GHC","GHC","GHC","GHC","GHC","GHC","GHC","GHC"],True)


ghcdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,GHC,2/8/2019,1549636200,665.000000,665.000000,659.630005,664.840027,12200.0,660.843994
1,GHC,2/7/2019,1549549800,663.750000,666.239990,656.950012,666.200012,31000.0,662.195740
2,GHC,2/6/2019,1549463400,660.559998,663.429993,659.919983,662.000000,17100.0,658.020996
4,GHC,2/5/2019,1549377000,665.650024,666.250000,660.000000,664.000000,26300.0,658.627380
5,GHC,2/4/2019,1549290600,665.000000,666.799988,662.380005,665.679993,13400.0,660.293701
6,GHC,2/1/2019,1549031400,665.030029,670.640015,659.880005,665.000000,43300.0,659.619202
7,GHC,1/31/2019,1548945000,657.909973,671.890015,657.909973,665.000000,22600.0,659.619202
8,GHC,1/30/2019,1548858600,667.309998,667.309998,657.409973,659.000000,35800.0,653.667786
9,GHC,1/29/2019,1548772200,664.739990,669.409973,660.409973,664.289978,19700.0,658.914917
10,GHC,1/28/2019,1548685800,661.760010,670.559998,660.820007,664.849976,14700.0,659.470459

In [21]:
tmusdf=pd.DataFrame(ntmus)
tmusdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
tmusdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
tmusdf.insert(0,"Stock Code",["TMUS","TMUS","TMUS","TMUS","TMUS","TMUS","TMUS","TMUS","TMUS","TMUS"],True)
tmusdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,TMUS,2/8/2019,1549636200,67.639999,68.470001,66.949997,68.379997,4129500,68.379997
1,TMUS,2/7/2019,1549549800,68.000000,68.459999,65.559998,68.279999,7554600,68.279999
2,TMUS,2/6/2019,1549463400,66.800003,67.300003,66.540001,66.940002,4334500,66.940002
3,TMUS,2/5/2019,1549377000,69.699997,69.699997,66.800003,66.849998,5001100,66.849998
4,TMUS,2/4/2019,1549290600,69.410004,69.629997,68.879997,69.410004,1926200,69.410004
5,TMUS,2/1/2019,1549031400,69.459999,69.779999,69.080002,69.629997,3117900,69.629997
6,TMUS,1/31/2019,1548945000,68.410004,70.120003,68.029999,69.620003,5816100,69.620003
7,TMUS,1/30/2019,1548858600,67.739998,68.690002,67.089996,68.320000,2318300,68.320000
8,TMUS,1/29/2019,1548772200,67.660004,67.940002,66.629997,67.779999,2340100,67.779999
9,TMUS,1/28/2019,1548685800,67.870003,68.489998,67.059998,67.620003,2958100,67.620003

In [22]:
intudf=pd.DataFrame(nintu)
intudf.rename(columns= {"date":"epoch timestamp"},inplace=True)
intudf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
intudf.insert(0,"Stock Code",["INTU","INTU","INTU","INTU","INTU","INTU","INTU","INTU","INTU","INTU"],True)
intudf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,INTU,2/8/2019,1549636200,219.309998,224.910004,218.830002,224.830002,1400600,223.580765
1,INTU,2/7/2019,1549549800,222.160004,223.440002,220.500000,220.970001,1166400,219.742218
2,INTU,2/6/2019,1549463400,224.149994,224.850006,221.080002,224.580002,915900,223.332153
3,INTU,2/5/2019,1549377000,221.429993,225.470001,221.190002,224.490005,1818200,223.242661
4,INTU,2/4/2019,1549290600,216.880005,222.360001,215.559998,220.910004,2256000,219.682541
5,INTU,2/1/2019,1549031400,215.740005,216.860001,212.669998,214.449997,1935000,213.258438
6,INTU,1/31/2019,1548945000,213.600006,217.399994,213.300003,215.820007,2792300,214.620819
7,INTU,1/30/2019,1548858600,209.720001,214.649994,209.600006,214.100006,1251400,212.910385
8,INTU,1/29/2019,1548772200,211.210007,211.869995,207.690002,208.330002,995700,207.172455
9,INTU,1/28/2019,1548685800,212.830002,212.899994,209.750000,211.050003,972500,209.877319

In [23]:
vzdf=pd.DataFrame(nvz)
vzdf.rename(columns= {"date":"epoch timestamp"},inplace=True)
vzdf.insert(0,"Date",["2/8/2019","2/7/2019","2/6/2019","2/5/2019","2/4/2019","2/1/2019","1/31/2019","1/30/2019","1/29/2019","1/28/2019"],True)
vzdf.insert(0,"Stock Code",["VZ","VZ","VZ","VZ","VZ","VZ","VZ","VZ","VZ","VZ"],True)
vzdf.head(11)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,VZ,2/8/2019,1549636200,53.360001,53.959999,53.299999,53.950001,12011700,52.300312
1,VZ,2/7/2019,1549549800,53.610001,53.730000,53.020000,53.570000,12436200,51.931931
2,VZ,2/6/2019,1549463400,54.110001,54.369999,53.680000,53.790001,11391400,52.145203
3,VZ,2/5/2019,1549377000,54.099998,54.340000,53.610001,54.139999,14124600,52.484501
4,VZ,2/4/2019,1549290600,54.599998,54.689999,53.669998,54.040001,15818900,52.387558
5,VZ,2/1/2019,1549031400,55.209999,55.299999,54.470001,54.549999,13778000,52.881962
6,VZ,1/31/2019,1548945000,54.049999,55.189999,53.529999,55.060001,28585400,53.376369
7,VZ,1/30/2019,1548858600,53.099998,54.020000,52.279999,54.000000,27260000,52.348782
8,VZ,1/29/2019,1548772200,53.619999,54.299999,52.970001,53.279999,33789200,51.650795
9,VZ,1/28/2019,1548685800,56.119999,56.220001,54.799999,55.070000,25955700,53.386063

In [24]:
dataframes=[adtdf, amzndf, buddf, pepdf,cldf,
          khcdf,googldf,dmlrydf,msftdf,nclhdf,pgdf,kdf,
          skxdf,sdf,ghcdf,tmusdf,intudf,vzdf]
result = pd.concat(dataframes)
result.head(50)

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,ADT,2/8/2019,1549636200,7.560000,7.670000,7.485000,7.650000,1007100.0,6.916444
1,ADT,2/7/2019,1549549800,7.600000,7.720000,7.515000,7.590000,1344000.0,6.862197
2,ADT,2/6/2019,1549463400,7.560000,7.680000,7.520000,7.640000,1531700.0,6.907403
3,ADT,2/5/2019,1549377000,7.630000,7.790000,7.490000,7.570000,1878400.0,6.844115
4,ADT,2/4/2019,1549290600,7.320000,7.610000,7.284000,7.580000,2580700.0,6.853156
5,ADT,2/1/2019,1549031400,7.330000,7.380000,7.160000,7.310000,1456900.0,6.609046
6,ADT,1/31/2019,1548945000,7.150000,7.320000,7.120000,7.220000,945700.0,6.527676
7,ADT,1/30/2019,1548858600,7.200000,7.220000,7.040000,7.130000,1202700.0,6.446306
8,ADT,1/29/2019,1548772200,7.080000,7.190000,7.015000,7.120000,951000.0,6.437265
9,ADT,1/28/2019,1548685800,7.170000,7.172000,6.970000,7.030000,1816300.0,6.355896
0,AMZN,2/8/2019,1549636200,1586.000000,1588.589966,1566.760010,1588.219971,5657500.0,1588.219971
1,AMZN,2/7/2019,1549549800,1625.000000,1625.540039,1592.910034,1614.369995,4626600.0,1614.369995
2,AMZN,2/6/2019,1549463400,1670.750000,1672.260010,1633.339966,1640.260010,3939900.0,1640.260010
3,AMZN,2/5/2019,1549377000,1643.339966,1665.260010,1642.500000,1658.810059,4453100.0,1658.810059
4,AMZN,2/4/2019,1549290600,1623.000000,1649.630005,1613.500000,1633.310059,4929100.0,1633.310059
5,AMZN,2/1/2019,1549031400,1638.880005,1673.060059,1622.010010,1626.229980,11506200.0,1626.229980
6,AMZN,1/31/2019,1548945000,1692.849976,1736.410034,1679.079956,1718.729980,10910300.0,1718.729980
7,AMZN,1/30/2019,1548858600,1623.000000,1676.949951,1619.680054,1670.430054,5783800.0,1670.430054
8,AMZN,1/29/2019,1548772200,1631.270020,1632.380005,1590.719971,1593.880005,4632800.0,1593.880005
9,AMZN,1/28/2019,1548685800,1643.589966,1645.000000,1614.089966,1637.890015,4837700.0,1637.890015
0,Bud,2/8/2019,1549636200,75.580002,76.169998,75.430000,76.150002,1480900.0,74.345161
1,Bud,2/7/2019,1549549800,76.870003,77.220001,76.480003,76.900002,1479200.0,75.077393
2,Bud,2/6/2019,1549463400,78.889999,79.000000,78.279999,78.300003,968600.0,76.444206
3,Bud,2/5/2019,1549377000,78.139999,79.209999,78.000000,78.860001,1089800.0,76.990936
4,Bud,2/4/2019,1549290600,76.889999,77.500000,76.699997,77.410004,812400.0,75.575302
5,Bud,2/1/2019,1549031400,76.500000,77.389999,76.360001,76.839996,1400800.0,75.018806
6,Bud,1/31/2019,1548945000,75.489998,76.830002,75.269997,76.440002,1485300.0,74.628296
7,Bud,1/30/2019,1548858600,74.320000,75.209999,74.239998,74.940002,1042400.0,73.163849
8,Bud,1/29/2019,1548772200,73.779999,74.110001,73.599998,73.989998,1360500.0,72.236351
9,Bud,1/28/2019,1548685800,73.300003,73.769997,72.870003,73.680000,1500000.0,71.933708
0,PEP,2/8/2019,1549636200,112.930000,113.040001,111.930000,113.019997,3868300.0,109.763374
1,PEP,2/7/2019,1549549800,112.820000,113.160004,112.160004,113.089996,4227700.0,109.831367
2,PEP,2/6/2019,1549463400,113.410004,113.580002,112.300003,113.050003,4209400.0,109.792519
3,PEP,2/5/2019,1549377000,113.029999,113.540001,112.489998,112.900002,4593400.0,109.646835
4,PEP,2/4/2019,1549290600,112.209999,113.400002,111.849998,113.089996,3665000.0,109.831367
5,PEP,2/1/2019,1549031400,112.949997,113.279999,111.449997,112.190002,5010500.0,108.957298
6,PEP,1/31/2019,1548945000,110.970001,112.900002,110.209999,112.669998,6183400.0,109.423470
7,PEP,1/30/2019,1548858600,108.940002,111.239998,108.540001,110.820000,5023800.0,107.626770
8,PEP,1/29/2019,1548772200,108.930000,109.620003,108.510002,109.000000,4301500.0,105.859215
9,PEP,1/28/2019,1548685800,108.959999,109.599998,108.000000,108.820000,4055900.0,105.684402
0,CL,2/8/2019,1549636200,64.919998,65.690002,64.750000,65.690002,3040100.0,64.495461
1,CL,2/7/2019,1549549800,64.839996,65.379997,64.550003,65.050003,3145300.0,63.867092
2,CL,2/6/2019,1549463400,64.519997,65.500000,64.500000,65.330002,3474600.0,64.142006
3,CL,2/5/2019,1549377000,65.269997,65.550003,64.639999,64.739998,4255300.0,63.562725
4,CL,2/4/2019,1549290600,65.290001,65.430000,64.610001,65.190002,3612600.0,64.004555
5,CL,2/1/2019,1549031400,64.900002,65.250000,64.199997,65.050003,5314500.0,63.867092
6,CL,1/31/2019,1548945000,63.759998,64.849998,63.439999,64.680000,6182900.0,63.503822
7,CL,1/30/2019,1548858600,63.660000,64.339996,63.459999,63.950001,6663900.0,62.787102
8,CL,1/29/2019,1548772200,62.700001,63.799999,62.700001,63.689999,4593100.0,62.531822
9,CL,1/28/2019,1548685800,61.709999,62.840000,61.599998,62.740002,5768200.0,61.599102

In [25]:
result.head()

,Stock Code,Date,epoch timestamp,open,high,low,close,volume,adjclose
0,ADT,2/8/2019,1549636200,7.56,7.67,7.485,7.65,1007100.0,6.916444
1,ADT,2/7/2019,1549549800,7.60,7.72,7.515,7.59,1344000.0,6.862197
2,ADT,2/6/2019,1549463400,7.56,7.68,7.520,7.64,1531700.0,6.907403
3,ADT,2/5/2019,1549377000,7.63,7.79,7.490,7.57,1878400.0,6.844115
4,ADT,2/4/2019,1549290600,7.32,7.61,7.284,7.58,2580700.0,6.853156